{% extends 'base.html' %}

{% block title %}
<h3>Product details</h3>
{% endblock %}

{% block content %}
  <h4>{{ object.title }}:</h4>
  <p class="padding">   Description: {{ object.description }}</p>
  <p class="padding">   Price: {{ object.price }}$</p>
  <p class="padding">   Discount: {{ object.discountPercentage }}%</p>
  <p class="padding">   Rating: {{ object.rating }}</p>
  <p class="padding">   In stock: {{ object.stock }}</p>
  <p class="padding">   Brand: {{ object.brand }}</p>
  <p></p>
  <button type="button">
    <a class="btn btn-uplevel" href="{% url 'product-list' %}">Back to the list</a>
  </button>
{% endblock %}}