{% extends 'base.html' %}

{% block title %}
  Products
{% endblock %}

{% block body %}
  <h2>Products list</h2>
  <div>
    <a
      class="blue"
      href="{{ url_for('products_implement.add') }}"
    >Add a new product</a>
  </div>
  {% if products %}
    <div class="list-group my-3">
      {% for p in products %}
        <a
          class="
          list-group-item
          link-primary
          list-group-item-action
          list-group-item-light
        "
          href="{{ url_for('products_implement.details', product_id=p.id) }}"
        >{{ p.title }}</a>
      {% endfor %}
    </div>
  {% else %}
    <h2>Empty list</h2>
  {% endif %}

  <div>
    <a
      class="green"
      href="{{ url_for('products_implement.add') }}"
    >Add a new product</a>
  </div>
{% endblock %}
