{% extends 'base.html' %}

{% block title %}
  Index
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
 <h3
    id="main-header"
    class="my-2"
  >Домашнее задание. Взаимодействие между контейнерами</h3>

  <h4>Описание/Пошаговая инструкция выполнения домашнего задания</h4>

    <p>
        <li>создайте docker-compose файл, настройте там связь базы данных и веб-приложения</li>
        <li>добавьте в свой проект модели. Это могут быть те же модели, что были использованы для сохранения данных с открытого API, это может быть и что-то новое *</li>
        <li>добавьте возможность создавать новые записи</li>
        <li>создайте страницу, на которой эти записи выводятся</li>
        <li>база данных должна быть в отдельном контейнере</li>
        <li>Flask приложение должно запускаться не в debug режиме, а в production-ready (uwsgi/gunicorn, nginx, Flask)</li>
    </p>
    <p>* - Данные из <a href="https://dummyjson.com/docs/products" target="_blank">https://dummyjson.com/products</a>
    </p>

{% endblock %}
